<h1>Time Log</h1>

<p>The following is a list of work done by the members of SpatialLogic.
  The information gathered from this page will be used when submitting weekly
  time logs to Professor Buckley on Wednesdays.</p>


<div class="notice">To submit hours that you worked click the button below.</div>
<p><%= link_to 'Add Hours', new_work_log_path %></p>

<h2>Recent Hours (showing latest 10 entries)</h2>
<table>
  <tr>
    <th>Work Date</th>
    <th>Person</th>
    <th>Hours</th>
    <th>Category</th>
    <th>Summary (if available)</th>
    <th></th>
  </tr>

<% @work_logs.each do |w| %>
  <tr>
    <td><%= w.worked_on.to_s(:long) %></td>
    <td><%= w.person.name %></td>
    <td><%= w.hours %></td>
    <td><%= w.work_type.name %></td>
    <td><%= w.summary %></td>
    <td><%= link_to 'Destroy', w, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<h2>Cumulative Report</h2>
<div class="notice">This report shows all the hours collected during the <strong>Fall 2010 semester</strong>.</div>
<p><%= link_to 'View Report', all_reports_path %></p>

<h2>Weekly Reports</h2>
<div class="notice">Click on the <strong>Week #</strong> to generate a report.  All weekly reports that occur in the future are hidden until the start of the reporting week.</div>

<%= render 'weekly_reports', :start_dates => @start_dates %>



