<div class="column grid_7">
  <h1>Time tracker.</h1>
  <p>All SpatialLogic team members should submit their hours here.</p>
  
  <h2>The latest hours</h2>
  <table>
    <tr>
      <th>Date</th>
      <th>Person</th>
      <th>Hours</th>
      <th>Category</th>
      <th>Summary (if available)</th>
      <th></th>
    </tr>

  <% @work_logs.each do |w| %>
    <tr>
      <td><%= w.worked_on.strftime("%m/%d") %></td>
      <td><%= w.person.name.split(" ").first %></td>
      <td><%= w.hours %></td>
      <td><%= w.work_type.name %></td>
      <td><%= w.summary %></td>
      <td><%= link_to 'delete', w, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  
  <h2>Weekly reports</h2>
  <%= render 'weekly_reports', :start_dates => @start_dates %>
  
  <h2>Cumulative report</h2>
  <p>View <%= link_to "all reported work", report_path('2010-09-01','2010-12-15') %> during the Fall 2010 semester.</p>
  
</div>

<div class="column grid_5">
  <h1>Submit hours.</h1>
  <%= render 'form' %>
</div>