<div class="column grid_12">
  <h1>Time Log Report</h1>
  <p><strong>Date Range:</strong> <%= params[:start_date] %> to <%= params[:end_date] %></p>

  <p><%= link_to 'â† Back', work_logs_path %></p>

  <h2>Details</h2>
  <p>There were <strong><%= @work_logs.count %> time entries</strong> during this time period.</p>

	<%= render :partial => "work_breakdown", :locals => {:people => @people, :work_logs => @work_logs, :work_types => @work_types} %>
	
	<h2>Time entries</h2>
	<p>The following <strong><%= @work_logs.count %> time entries</strong> were used to calculate the totals above.</p>
	<table>
		<tr>
			<th>Date</th>
			<th>Person</th>
			<th>Hours</th>
			<th>Category</th>
			<th>Summary</th>
		</tr>
		<% @work_logs.each do |w| %>
	    <tr>
	      <td><%= w.worked_on.strftime("%m/%d") %></td>
	      <td><% w.people.each do |p| %><%= p.name.split(" ").first %><br /><% end %></td>
	      <td><%= w.hours %></td>
	      <td><%= w.work_type.name %></td>
	      <td><%= w.summary %></td>
	    </tr>
	  <% end %>
	</table>
</div>