<div class="column grid_12">
  <h1>Time Log Report</h1>
  <p><strong>Date Range:</strong> <%= params[:start_date] %> to <%= params[:end_date] %></p>

  <p><%= link_to 'â† Back', work_logs_path %></p>

  <h2>Details</h2>
  <p>There were <strong><%= @work_logs.count %> time entries</strong> during this time period.</p>

<%= render :partial => "work_breakdown", :locals => {:people => @people, :work_logs => @work_logs, :work_types => @work_types} %>
</div>